<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="huypq.SmtCodeGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="TestEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <userSettings>
    <huypq.SmtCodeGen.Properties.Settings>
      <setting name="DbName" serializeAs="String">
        <value />
      </setting>
      <setting name="EntityPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ControllerPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DtoPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ViewPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ViewModelPath" serializeAs="String">
        <value />
      </setting>
      <setting name="TextPath" serializeAs="String">
        <value />
      </setting>
    </huypq.SmtCodeGen.Properties.Settings>
  </userSettings>
</configuration>